body{
	font-family: 'Handlee', cursive;
	/*color: #00BCD4;*/
	color: #fff;
	background-image: url(../img/Pedrapapaeltijera.png);
	background-size:cover;
	background-repeat:no-repeat;
}
h1{
	margin-top: 5%;
	margin-botom: 5%;
}